
@media screen and (min-width: 1280px){
    section h2{
        font-family: 'MapoFlowerIsland';
        font-weight: 400; font-size: 50px;
        text-align: center; color: #343333;
    }
    .mainSlider .slider li.banner1 h2 strong,
    .mainSlider .slider li.banner4 p,
    .mainSlider .slider li.banner4 ol,
    .staff ul li h3,
    .drink div ul li,
    .dessert h3,
    .applyNotice a,
    .login ul li,
    .login > div form fieldset div,
    .login > div form fieldset div input[type='submit'],
    .membership form fieldset ul li label,
    .membership form fieldset > input,
    .shop fieldset,
    .shop fieldset ul li div select,
    .shop fieldset > input,
    .shopDetail,
    .helloCat div ul,
    .helloCat div a,
    .stayByCat ul,
    .cart ul li,
    .deliver,
    .cart ul li:nth-of-type(2) span:last-of-type input,
    .membership form fieldset ul li:nth-of-type(2) input[type='button'],
    .popup,
    .popup div fieldset ul li select,
    .popup div input[type='submit'],
    .cat figure figcaption dl,
    .cat figure figcaption a{
        font-family: 'MapoFlowerIsland';
        font-weight: 400;
    }
    .mainSlider .slider li.banner1 h2,
    .staff ul li p,
    .guide div:last-of-type ul li small,
    .drink div ul li div:first-of-type input[type='button'],
    .helloCat h2,
    .introduceCat div strong,
    .stayByCat h2,
    .stayByCatDetail div strong,
    .cat figure figcaption dl:first-child dt,
    .cat figure figcaption dl:last-of-type dd{
        font-family: 'Nanum Pen Script';
        font-weight: 400;
    }
    .map ul,
    .introduce p,
    .guide div h3,
    .guide div:first-of-type ul li,
    .guide div:last-of-type ul li,
    .drink ul li,
    .drink div ul li div:last-of-type,
    .dessert figure figcaption,
    .stickerandTape ul li,
    .postandMemo ul li,
    .etcProduct ul li,
    .catFood ul li,
    .catToy ul li,
    .hello ul li,
    .notice ul li,
    .notice > div a,
    .applyNotice strong,
    .applyNotice ul,
    .login,
    .membership form fieldset ul li:last-of-type label,
    .shop fieldset ul li input:nth-of-type(2),
    .shop fieldset ul li:last-of-type input,
    .shop > a,
    .catFoodNotice article,
    .shopDetail > article,
    .helloCat > a,
    .stayByCat > a,
    .introduceCat div,
    .stayByCatDetail div,
    .cart ul li:nth-of-type(2) span:nth-of-type(2),
    .cart ul li:nth-of-type(2) span:nth-of-type(3),
    .cart ul li:nth-of-type(2) span:nth-of-type(4),
    .popup div fieldset ul li button,
    .popup div fieldset ul li input[type='text']{
        font-family: 'Noto Sans';
        font-weight: 400; color: #222222;
    }
    .sliderContainer,
    .gallery,
    .gallery h2,
    .map h2,
    .drink h2,
    .drink > ul li,
    .drink div,
    .dessert figure,
    .stickerandTape h2,
    .postandMemo h2,
    .etcProduct h2,
    .catFood h2,
    .catToy h2,
    .hello h2,
    .hello ul li,
    .stayCat h2,
    .stayCat ul li,
    .login > div form fieldset,
    .membership h2,
    .membership form fieldset > input,
    .shop fieldset ul li,
    .catFoodNotice,
    .shop img,
    .applyNotice > a,
    .cart h2,
    .cart ul,
    .deliver h2,
    .deliver ul{
        margin-bottom: 100px;
    }
    .introduce h2,
    .staff h2,
    .staff ul,
    .guide h2,
    .dessert h2,
    .shop h2,
    .shopDetail > article{
        margin-bottom: 150px;
    }
    .introduce,
    .guide h2,
    .drink,
    .dessert,
    .stickerandTape,
    .postandMemo,
    .etcProduct,
    .catFood,
    .catToy,
    .hello,
    .stayCat,
    .notice,
    .FAQ,
    .applyNotice,
    .login,
    .cart,
    .deliver,
    .membership{
        padding-top: 100px;
    }

    .sliderContainer{
        width: 100%;
        height: calc(100% - 185px);
    }
    .mainSlider .bx-wrapper,
    .mainSlider .bx-wrapper .bx-viewport{
        width: 100%;
        height: 100% !important;
    }
    .mainSlider .slider:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .mainSlider .slider{
        width: 100%;
        height: 100%;
    }
    .mainSlider .slider > li{
        width: 100%;
        height: 100%;
        display: block; 
    }
    .mainSlider .slider li img{
        width: 100%;
    }
    .mainSlider .slider li.banner1 h2{
        font-size: 48px; color: #222222; opacity: 0.5;
        text-align: right; position: absolute; 
        padding: 145px 11.85%;
    }
    .mainSlider .slider li.banner1 h2 strong{
        margin-top: 65px; padding-right: 2.1%;
        font-size: 72px; display: block;
    }
    .mainSlider .slider li.banner2 p{
        font-family: 'KCC-Kimhoon';
        font-size: 35px; line-height: 48px;
        color: #8c9197; font-weight: 200;
        font-style: italic; 
        padding: 90px 0 30px 11.57%;
        width: 44%;
    }
    .mainSlider .slider li.banner2 p span{
        font-size: 30px; 
        margin-left: 60%;
        width: 40%; display: block;
    }
    .mainSlider .slider li.banner3{
        font-family: 'SangSangFlowerRoad';
    }
    .mainSlider .slider li.banner3 h2{
        font-size: 100px; font-weight: 400;
        color: #222222; letter-spacing: 20px;
        padding: 165px 0 60px 24.21%;
    }
    .mainSlider .slider li.banner3 mark{
        background: none; display: block;
        font-size: 50px; letter-spacing: 12px;        
    }
    .mainSlider .slider li.banner3 mark.dec{
        color: #cc825d;
        padding: 0 0 40px 26.84%;
    }
    .mainSlider .slider li.banner3 mark.mas{
        color: #87503b;
        padding: 0 0 80px 26.05%;
    }
   .mainSlider .slider li.banner3 p{
        font-size: 24px; line-height: 30px; letter-spacing: 5px;
        padding-left: 26.05%;
    }
    .mainSlider .slider li.banner4 h2{
        font-family: 'SangSangFlowerRoad';
        font-size: 70px; color: #222222;
        padding: 0 15.78% 50px 0; text-align: right;
    }
    .mainSlider .slider li.banner4 h2 > strong{
        font-family: 'Yeon Sung'; font-size: 70px;
        font-weight: 400; display: block;
        padding: 140px 11.05% 35px 0;
    }
    .mainSlider .slider li.banner4 h2 > strong:first-letter{
        font-size: 100px;
    }
    .mainSlider .slider li.banner4 p,
    .mainSlider .slider li.banner4 ol{
        font-size: 20px; line-height: 40px;
        text-align: right;
    }
    .mainSlider .slider li.banner4 p{
        padding: 0 15.78% 70px 0;
    }
    .mainSlider .slider li.banner4 ol{
        text-align: left;
        padding-left: 62.5%;
        list-style: decimal;
    }
    /* main banner Fin */

    .gallery{
        height: calc(100% - 65px);
    }
    .gallery ol li{
        line-height: 0;
    }
    /* gallery Fin */

    .map{
        width: 84.21%;
        margin: 0 auto;
    }
    .map::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .map > div{
        width: 53.42%;
        float: left;
    }
    .map ul{
        margin-left: 5.62%; width: 32.5%;
        color: #343333;
        float: left;
    }
    .map ul li{
        font-size: 16px; font-weight: 400;
        margin-bottom: 30px; line-height: 35px;
    }
    .map ul li{
        width: 53%;
    }
    .map ul li strong{
        padding-left: 5%;
        font-size: 20px; font-weight: 700;
        display: block; line-height: 60px;
        background: url('../images/btn_bg.png') no-repeat left center;
        background-size: 60% 50px;
        margin-bottom: 30px;
    }
    .map ul li:nth-of-type(2) strong{
        background-size: 65% 50px;
    }
    .map ul li:last-of-type strong{
        font-size: 16px;
        padding-left: 0;
        background-size: 100% 50px;
    }
    /* index Fin */

    .introduce{
        width: 70%; margin: 0 auto;
    }
    .introduce::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .introduce p{
        width: 60%; 
        font-size: 16px; line-height: 26px;
        float: left;
        margin-bottom: 200px;
    }
    .introduce p:first-of-type{
        margin-bottom: 50px;
    }
    .introduce img{
        width: 34.74%; margin: 0 0 100px 5.26%;
    }
    .staff{
        width: 70%; margin: 0 auto;
    }
    .staff ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .staff ul li{
        float: left; width: 31.58%;
        position: relative; cursor: pointer;
        margin-bottom: 40px;
    }
    .staff ul li:not(:nth-of-type(3n-2)){
        margin-left: 2.63%;
    }
    .staff ul li p{
        position: absolute; top: 0; left: 0;
        opacity: 0; width: 60%;
        font-size: 30px; line-height: 40px;
    }
    .staff ul li:hover p{
        opacity: 1; color: #ffffff;
        padding: 195px 90px;
    }
    .staff ul li h3{
        color: #222222; font-size: 24px;
        text-align: center; line-height: 40px;
        background: url('../images/btn_bg.png') no-repeat center;
        background-size: contain;
        margin-top: 400px;
    }
    .staff ul li:first-of-type{
        background: url('../images/CEOcat.png') no-repeat center top;
        background-size: contain;
    }
    .staff ul li:first-child:hover{
        background: url('../images/CEO_hover.png') no-repeat center;
        background-size: contain;
    }
    .staff ul li:nth-of-type(2){
        background: url('../images/bari_01.png') no-repeat center top;
        background-size: contain;
    }
    .staff ul li:nth-child(2):hover{
        background: url('../images/bari_01_hover.png') no-repeat center;
        background-size: contain;
    }
    .staff ul li:nth-of-type(3){
        background: url('../images/bari_02.png') no-repeat center top;
        background-size: contain;
    }
    .staff ul li:nth-of-type(3):hover{
        background: url('../images/bari_02_hover.png') no-repeat center;
        background-size: contain;
    }
    .staff ul li:nth-of-type(3):hover p,
    .staff ul li:nth-of-type(4):hover p,
    .staff ul li:nth-of-type(5):hover p{
        padding: 180px 90px;
    }
    .staff ul li:nth-of-type(4){
        background: url('../images/sweetCat.png') no-repeat center top;
        background-size: contain;
    }
    .staff ul li:nth-of-type(4):hover{
        background: url('../images/sweet_hover.png') no-repeat center;
        background-size: contain;
    }
    .staff ul li:nth-of-type(5){
        background: url('../images/chefCat.png') no-repeat center top;
        background-size: contain;
    }
    .staff ul li:nth-of-type(5):hover{
        background: url('../images/chef_hover.png') no-repeat center;
        background-size: contain;
    }
    .staff ul li:last-of-type{
        background: url('../images/babyCat.png') no-repeat center top;
        background-size: contain;
    }
    .staff ul li:last-of-type:hover{
        background: url('../images/baby_hover.png') no-repeat center;
        background-size: contain;
    }
    .staff ul li:last-of-type:hover p{
        padding: 170px 90px;
    }
    /* introduce Fin */

    .guide{
        width: 70%; margin: 0 auto;
    }
    .guide div h3{
        text-align: center;
        font-size: 25px; font-weight: 700;
        line-height: 70px; padding-left: 4.47%;
        width: 20%; margin: 0 auto;
    }
    .guide div:first-of-type{
        margin-bottom: 100px;
    }
    .guide div:first-of-type h3{
        background: url('../images/logo_mini03.png') no-repeat left;
        background-size: 70px;
    }
    .guide div:last-of-type h3{
        background: url('../images/logo_mini02.png') no-repeat left;
        background-size: 70px;
    }
    .guide div ul{
        padding-top: 80px;
    }
    .guide div:first-of-type ul li{
        display: inline-block; width: 20%;
        border-radius: 35px;
        font-size: 16px; text-align: center;
        padding: 20px 1.05% 20px 8.14%; line-height: 20px;
    }
    .guide div:first-of-type ul li:not(:nth-of-type(3n-2)){
        margin-left: 4.21%;
    }
    .guide div:first-of-type ul li:first-of-type{
        background: url('../images/cau_drink.png') no-repeat left;
        background-size: 100px;
        border: 3px solid #0f9302;
        margin-bottom: 60px;
    }
    .guide div:first-of-type ul li:nth-of-type(2){
        background: url('../images/cau_car.png') no-repeat left;
        background-size: 100px;
        border: 3px solid #d70000;
        margin-bottom: 60px;
    }
    .guide div:first-of-type ul li:nth-of-type(3){
        background: url('../images/cau_food.png') no-repeat left;
        background-size: 100px;
        border: 3px solid #d70000;
        margin-bottom: 60px;
    }
    .guide div:first-of-type ul li:nth-of-type(4){
        background: url('../images/cau_watch.png') no-repeat left;
        background-size: 100px;
        border: 3px solid #0f9302;
    }
    .guide div:first-of-type ul li:nth-of-type(5){
        background: url('../images/cau_cat.png') no-repeat left;
        background-size: 100px;
        border: 3px solid #d70000;
    }
    .guide div:first-of-type ul li:last-of-type{
        background: url('../images/cau_drink.png') no-repeat left;
        background-size: 100px;
        border: 3px solid #0f9302;
    }
    .guide div:last-of-type ul{
        margin-bottom: 100px;
    }
    .guide div:last-of-type ul li{
        display: inline-block; width: 10%;
        margin: 0 auto; font-size: 16px;
        text-align: center;
    }
    .guide div:last-of-type ul li small{
        display: block; padding-top: 5px;
        font-size: 16px; color: #222222;
    }
    .guide div:last-of-type ul li:not(:first-of-type){
        margin-left: 7.5%;
    }
    .guide div:last-of-type ul li:first-of-type{
        background: url('../images/cauCat_01.png') no-repeat top;
        background-size: 130px;
        padding-top: 150px;
    }
    .guide div:last-of-type ul li:nth-of-type(2){
        background: url('../images/cauCat_02.png') no-repeat top;
        background-size: 130px;
        padding-top: 135px;
    }
    .guide div:last-of-type ul li:nth-of-type(3){
        background: url('../images/cauCat_03.png') no-repeat top;
        background-size: 130px;
        padding-top: 150px;
    }
    .guide div:last-of-type ul li:nth-of-type(4){
        background: url('../images/cauCat_04.png') no-repeat top;
        background-size: 130px;
        padding-top: 150px;
    }
    .guide div:last-of-type ul li:nth-of-type(5){
        background: url('../images/cauCat_05.png') no-repeat top;
        background-size: 130px;
        padding-top: 135px;
    }
    .guide div:last-of-type ul li:last-of-type{
        background: url('../images/cauCat_06.png') no-repeat top;
        background-size: 130px;
        padding-top: 135px;
    }
    /* guide Fin */

    .drink{
        width: 73.68%; margin: 0 auto;
    }
    .drink div ul li{
        display: inline-block;
        width: 28.57%; margin: 0 auto;
        padding-top: 400px; font-size: 20px; color: #222222;
        text-align: center; position: relative;
    }
    .drink div ul li > div{
        background-color: rgba(204, 130, 93, 0.9);
        background-size: 400px; width: 100%; height: 100%;
        position: absolute; top: 0; left: 0;
    }
    .drink div ul li:not(:nth-of-type(3n-2)){
        margin-left: 6%;
    }
    .drink #coffee ul li:first-of-type{
        background: url('../images/co_01.png') no-repeat center;
        background-size: 100%;
    }
    .drink #coffee ul li:nth-of-type(2){
        background: url('../images/co_02.png') no-repeat center;
        background-size: 100%;
    }
    .drink #coffee ul li:nth-of-type(3){
        background: url('../images/co_03.png') no-repeat center;
        background-size: 100%;
    }
    .drink #coffee ul li:nth-of-type(4){
        background: url('../images/co_04.png') no-repeat center;
        background-size: 100%;
    }
    .drink #coffee ul li:nth-of-type(5){
        background: url('../images/co_05.png') no-repeat center;
        background-size: 100%;
    }
    .drink #coffee ul li:last-of-type{
        background: url('../images/co_06.png') no-repeat center;
        background-size: 100%;
    }
    .drink div ul li div:first-of-type{
        display: none;
    }
    .drink div ul li:hover div:first-of-type{
        font-size: 20px; color: #fff; z-index: 1;
        display: block;
    }
    .drink div ul li:hover div:first-of-type p{
        padding-top: 118px; width: 80%; margin: 0 auto;
        line-height: 30px;
    }
    .drink div ul li div:first-of-type span{
        display: block; text-align: right;
        padding: 20px 45px 40px 0;
    }
    .drink div ul li div:first-of-type input[type='button']{
        font-size: 16px; background: none;
        border: 1px solid #fff; color: #fff;
        border-radius: 23px; padding: 10px 10%;
        margin-bottom: 70px; cursor: pointer;
    }
    .drink div ul li div.detailContainer{
        display: none;
    }
    .drink div ul li div.detailContainer.activated{
        display: block; z-index: 10;
    }
    .drink div ul li div:last-of-type{
        color: #fff; text-align: left; margin: 0 auto;
        padding: 60px 100px; box-sizing: border-box; line-height: 30px;
        font-size: 20px; white-space: pre-line;
        display: none;
    }
    .drink #nonCoffee ul li:first-of-type{
        background: url('../images/nonco_01.png') no-repeat center;
        background-size: 100%;
    }
    .drink #nonCoffee ul li:nth-of-type(2){
        background: url('../images/nonco_02.png') no-repeat center;
        background-size: 100%;
    }
    .drink #nonCoffee ul li:nth-of-type(3){
        background: url('../images/nonco_03.png') no-repeat center;
        background-size: 100%;
    }
    .drink #ade ul li:first-of-type{
        background: url('../images/ade_01.png') no-repeat center;
        background-size: 100%;
    }    
    .drink #ade ul li:last-of-type{
        background: url('../images/ade_02.png') no-repeat center;
        background-size: 100%;
    }
    .drink #tea ul li:first-of-type{
        background: url('../images/tea_01.png') no-repeat center;
        background-size: 100%;
    }    
    .drink #tea ul li:nth-of-type(2){
        background: url('../images/tea_02.png') no-repeat center;
        background-size: 100%;
    }    
    .drink #tea ul li:nth-of-type(3){
        background: url('../images/tea_03.png') no-repeat center;
        background-size: 100%;
    }
    .drink #tea ul li:nth-of-type(4){
        background: url('../images/tea_04.png') no-repeat center;
        background-size: 100%;
    }
    .drink #tea ul li:last-of-type{
        background: url('../images/tea_05.png') no-repeat center;
        background-size: 100%;
    }    
    .drink #season ul li:first-of-type{
        background: url('../images/ju_01.png') no-repeat center;
        background-size: 100%;
    }
    .drink #season ul li:last-of-type{
        background: url('../images/ju_02.png') no-repeat center;
        background-size: 100%;
    }    
    /* drink Fin */

    .dessert{
        width: 70%; margin: 0 auto;
    }
    .dessert h3{
        font-size: 24px; color: #222222;
        width: 13.53%; margin: 0 auto;
        background: url('../images/logo_mini.png') no-repeat left;
        background-size: 60px; text-align: center;
        line-height: 60px; padding-left: 2%;
    }
    .dessert figure{
        padding-top: 40px; width: 100%; position: relative;
    }
    .dessert figure::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .dessert figure img{
        float: left; cursor: pointer;
    }
    .dessert figure img:hover + figcaption div{
        display: block;
    }
    .dessert figure figcaption{
        padding-left: 30%; width: 42.85%;
        text-align: center; margin: 0 auto;
        font-size: 16px;
    }
    .dessert figure:first-of-type figcaption p{
        line-height: 20px; padding: 150px 0;
    }
    .dessert figure:nth-of-type(2) figcaption p{
        line-height: 20px; padding: 90px 0;
    }
    .dessert figure:nth-of-type(3) figcaption p{
        line-height: 20px; padding: 130px 0;
    }
    .dessert figure:last-of-type figcaption p{
        line-height: 20px; padding: 70px 0;
    }
    .dessert figure figcaption span{
        padding-left: 78.94%; line-height: 60px;
        display: block;
        background: url('../images/btn_bg.png') no-repeat right center;
        background-size: 20.5% 60px;
    }
    .dessert figure figcaption div{
        width: 37.5%; margin: 0 auto;
        background-color: rgba(34, 34, 34, 0.9);
        background-size: 30%; position: absolute; left: 0; top: 40px;
        display: none; cursor: pointer;
    }
    .dessert figure figcaption div p{
        color: #fff; font-size: 20px;
        width: 38%; margin: 0 auto; text-align: left;
        
    }
    .dessert figure:first-of-type figcaption div p{
        padding: 174px 0; line-height: 30px;
    }
    .dessert figure:nth-of-type(2) figcaption div p{
        padding: 113px 0; line-height: 30px;
    }
    .dessert figure:nth-of-type(3) figcaption div p{
        padding: 127px 0; line-height: 30px;
    }
    .dessert figure:last-of-type figcaption div p{
        padding: 75px 0; line-height: 30px;
    }
    /* dessert Fin */

    .stickerandTape,
    .postandMemo,
    .etcProduct,
    .catFood,
    .catToy{
        width: 73.68%; margin: 0 auto;
    }
    .stickerandTape ul:first-of-type,
    .postandMemo ul:first-of-type,
    .etcProduct ul:first-of-type{
        width: 22.14%; margin: 0 auto;
    }
    .tab .tabPage li:hover button,
    .catFood ul li:hover button,
    .catToy ul li:hover button,
    .hello ul li:hover button,
    .stayCat ul li:hover button{
        display: block;
    }
    .stickerandTape ul:not(:first-of-type) li:not(:nth-of-type(3n-2)),
    .postandMemo ul:not(:first-of-type) li:not(:nth-of-type(3n-2)),
    .etcProduct ul:not(:first-of-type) li:not(:nth-of-type(3n-2)){
        margin-left: 6%;
    }
    .tab .tabPage li::after,
    .catFood ul li small::after,
    .catToy ul li small::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .tab .tabPage li small,
    .catFood ul li small,
    .catToy ul li small{
        float: right;
    }
    .stickerandTape .tabPage li button,
    .postandMemo .tabPage li button,
    .etcProduct .tabPage li button,
    .catFood ul li button,
    .catToy ul li button,
    .hello ul li button,
    .stayCat ul li button{
        text-indent: -9999px; width: 50px; height: 50px;
        background: url('../images/magnifying_glass_plus.png') no-repeat center;
        background-size: 25px;
        background-color: rgba(255,255,255,0.8);
        border: none; border-radius: 25px; cursor: pointer;
        display: none;
    }
    /* product page Fin */


    .shop{
        width: 84.21%; margin: 0 auto 200px;
        border-bottom: 1px solid #222222;
    }
    .shop > a,
    .helloCat > a,
    .stayByCat a{
        background: url('../images/back_arrow.png') no-repeat left;
        background-size: contain;
        display: block; width: 8%; text-decoration: none; 
        color: #8b8b8b; line-height: 50px;
    }
    .shop > a{
        margin-bottom: 40px; 
        padding-left: 60px;
    }
    .shop::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .shop img{
        width: 50%; float: left;
    }
    .shop h2{
        font-size: 30px; padding-top: 50px;
    }
    .shop fieldset{
        width: 49%; margin-left: 1%;
    }
    .shop fieldset ul li div{
        margin-bottom: 60px;
    }
    .shop fieldset ul li div select{
        width: 76%; height: 50px;
        appearance: none; padding: 10px 10px 10px 35%;
        font-size: 20px; color: #343333;
        background: url('../images/tab_arrow.png') no-repeat 2%;
        background-size: 20px;
        margin-left: 12.66%;
    }
    .shop fieldset ul li:first-of-type label{
        font-size: 30px; color: #343333;
        margin-left: 12.66%;        
    }
    .shop fieldset ul li:first-of-type input:first-of-type{
        margin-left: 55.69%;
    }
    .shop fieldset ul li:first-of-type input:not(:nth-of-type(2)){
        background: none; border: 1px solid #222222;
        padding: 5px 10px;
    }
    .shop fieldset ul li:first-of-type input:nth-of-type(2){
        border: none;
        font-size: 20px; width: 5.7%; text-align: center;
    }
    .shop fieldset ul li:last-of-type label{
        margin-left: 65%;
    }
    .shop fieldset ul li:last-of-type input{
        width: 12.66%; border: none; font-size: 24px;
        margin-left: 3.77%;
    }
    .shop fieldset > input{
        cursor: pointer; margin-left: 23.42%;
    }
    .shop fieldset > input,
    .shop fieldset > a{
        border: none; width: 22%; line-height: 60px;
        background: url('../images/btn_bg.png') no-repeat center;
        background-size: cover;
        font-size: 24px; color: #343434;
    }
    .shop fieldset > a{
        text-decoration: none;
        margin-left: 12.66%;
    }
    .shopDetail,
    .introduceCat div,
    .stayByCatDetail div{
        width: 39%; margin: 0 auto;
        font-size: 16px; line-height: 30px;
        text-align: center; color: #222222;
    }
    .shopDetail h2,
    .introduceCat div h2,
    .stayByCatDetail h2{
        display: none;
    }
    .shopDetail p,
    .shopDetail img,
    .introduceCat div p,
    .introduceCat div img,
    .stayByCatDetail div img,
    .stayByCatDetail div p{
        margin-bottom: 80px;
    }
    .shopDetail img,
    .introduceCat div img,
    .stayByCatDetail div img{
        width: 100%;
    }
    .shopDetail ul{
        background-color: #fbf3fb;
        width: 60%; margin: 0 auto 150px;
        padding: 50px 8%;
    }
    .shopDetail ul li{
        display: block; text-align: left;
        line-height: 24px;
    }
    .shopDetail > article h3{
        font-size: 20px; margin-bottom: 30px;
    }
    .shopDetail > article ol{
        list-style: decimal; font-size: 16px;
        line-height: 25px; text-align: left;
        margin-left: 5%;
    }
    /* product detail page Fin */

    .catFood ul li,
    .catToy ul li{
        font-size: 20px; display: inline-block;
        cursor: pointer; width: 47.9%;
        margin: 0 auto 100px; position: relative;
    }
    .catFood ul li img,
    .catToy ul li img{
        width: 100%; margin-bottom: 20px;
    }
    .catFood ul li:nth-of-type(even),
    .catToy ul li:nth-of-type(even){
        margin-left: 3.8%;
    }
    .catFood ul li button{
        position: absolute; top: 200px; left: 300px;
    }
    .catToy ul li button{
        position: absolute; top: 270px; left: 300px;
    }

    .catFoodNotice h2{
        font-size: 30px; margin-bottom: 80px;
    }
    .catFoodNotice article{
        width: 39%; margin: 0 auto;
    }
    .catFoodNotice article h3{
        font-size: 20px; margin-bottom: 30px;
    }
    .catFoodNotice article ol{
        margin-bottom: 30px;
        list-style: decimal; font-size: 16px;
        margin-left: 5%; line-height: 25px;
    }
    .catFoodNotice article p{
        margin-left: 5%; line-height: 25px;
    }
    /* cat product Fin */

    .cat figure figcaption{
        padding-top: 50px;
    }
    .cat figure figcaption dl:first-of-type{
        margin-bottom: 50px;
    }
    .cat figure figcaption dl:first-of-type dt{
        font-size: 40px; background: none; padding: 0;
    }
    .cat figure figcaption dl dd{
        text-align: left; font-size: 20px; color: #343333;
        line-height: 30px;
    }
    .cat figure figcaption dl dd:first-of-type{
        margin: 0;
    }
    .cat figure figcaption dl:last-of-type{
        margin-bottom: 50px;
    }
    .cat figure figcaption dl:last-of-type dt{
        background-size: 35px; font-size: 20px;
        background-position: left; padding: 0;
        width: 50%; line-height: 40px;
        margin-bottom: 20px;
    }
    .cat figure figcaption dl:last-of-type dd{
        font-size: 20px; color: #222222;
    }
    .cat figure figcaption a{
        text-decoration: none; font-size: 24px; color: #343333;
        line-height: 70px; display: block; text-align: center;
        background: url('../images/btn_bg.png') no-repeat center;
        background-size: 62.5% 65px;
    }
    /* catPopup Fin */

    .hello,
    .stayCat,
    .notice,
    .FAQ,
    .cart,
    .deliver{
        width: 67.36%; margin: 0 auto;
    }
    .hello ul li,
    .stayCat ul li{
        width: 46.88%; position: relative;
        display: inline-block;
    }
    .hello ul li:nth-of-type(even),
    .stayCat ul li:nth-of-type(even){
        margin-left: 5.8%;
    }
    .hello ul li img,
    .stayCat ul li img{
        width: 100%; 
    }
    .stayCat ul li img{
        vertical-align: middle;
    }
    .hello ul li button,
    .stayCat ul li button{
        position: absolute; top: 300px; left: 300px;
    }
    /* recruitment, stayCat Fin */

    .helloCat,
    .stayByCat{
        width: 84.21%; margin: 0 auto;
        border-bottom: 1px solid #222222;
        padding-bottom: 100px; margin-bottom: 100px;
    }
    .helloCat::after,
    .stayByCat::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .helloCat > a,
    .stayByCat > a{
        width: 10%; padding-left: 70px;
        margin-bottom: 50px;
    }
    .helloCat img,
    .stayByCat img{
        width: 50%; float: left;
    }
    .helloCat div,
    .stayByCat div{
        float: right; width: 50%; margin: 0 auto;
    }
    .helloCat div{
        padding-top: 50px;
    }
    .stayByCat div{
        padding-top: 100px;
    }
    .helloCat div::after,
    .stayByCat div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .helloCat div h2,
    .stayByCat div h2{
        font-size: 50px; margin-bottom: 100px;
    }
    .helloCat div ul,
    .stayByCat div ul{
        font-size: 20px; width: 70%;
    }
    .helloCat div ul::after,
    .stayByCat div ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .helloCat div ul li,
    .stayByCat div ul li{
        background: url('../images/logo_mini.png') no-repeat left;
        background-size: 30px;
        padding-left: 50px; line-height: 30px;
        float: left;
    }
    .helloCat div ul li,
    .stayByCat div ul li{
        margin-left: 15%; margin-bottom: 55px;
    }
    .helloCat div a{
        width: 60%; margin: 0 auto; text-align: center;
        text-decoration: none; display: block;
        font-size: 30px; color: #222222;
        background: url('../images/btn_bg.png') no-repeat center;
        background-size: contain;
        line-height: 90px;
    }
    .introduceCat,
    .stayByCatDetail{
        margin-bottom: 100px;
    }
    .introduceCat div strong,
    .stayByCatDetail strong{
        font-size: 25px;
    }
    /* cat page Fin */

    .notice h2,
    .notice ul,
    .FAQ h2,
    .FAQ ul{
        margin-bottom: 80px;
    }
    .notice ul li,
    .FAQ ul li,
    .cart ul li,
    .deliver ul li{
        border-bottom: 2px solid #343333;
    }
    .notice ul li:first-of-type,
    .FAQ ul li:first-of-type,
    .cart ul li:first-of-type,
    .deliver ul li:first-of-type{
        border-top: 2px solid #343333;
    }

    
    .accordion li > :first-child{
        font-size: 20px; font-weight: 400;
        padding: 30px; cursor: pointer;
        background-color: #f8f3ed;
        border-bottom: 2px solid #343333;
    }
    .accordion li > :first-child:after{
        content: url('../images/tab_arrow.png');
        display: block; float: right; transition: transform 0.75s ease-in-out;
    }
    .accordion li > :first-child.open:after{
        transform: rotate(180deg);
    }
    .accordion li > :first-child time{
        font-size: 16px;
    }
    .accordion li > :first-child+*{
        font-size: 0px; width: 70%;
        margin: 0 auto; padding: 0 40px;
        line-height: 0px; overflow-y: hidden;
        transition: all 0.5s ease-in-out;
    }
    .accordion li > :first-child.open+*{
        font-size: 14px; padding: 40px 40px;
        line-height: 24px; overflow-y: hidden;
    }
    .pager{
        width: 50%; margin: 0 auto;
        text-align: center;
    }
    .pager a{
        text-decoration: none;
    }
    .pager a,
    .pager ol{
        display: inline-block;
        margin-bottom: 40px;
    }
    /* notice FAQ Fin */

    .applyNotice{
        width: 67.36%; margin: 0 auto;
    }
    .applyNotice h2{
        margin-bottom: 60px;
    }
    .applyNotice strong{
        background: url('../images/logo_mini.png') no-repeat left;
        background-size: 40px;
        padding-left: 4.13%; line-height: 100px; font-size: 20px;
        font-weight: 700; width: 13%; margin: 0 auto 60px;
        display: block;
    }
    .applyNotice ul li{
        display: inline-block;
        font-size: 14px; line-height: 20px; width: 21.87%;
        margin: 0 auto; padding-left: 8.59%;
    }
    .applyNotice ul li:not(:nth-of-type(3n-2)){
        margin-left: 2.34%;
    }
    .applyNotice ul li:first-of-type{
        background: url('../images/catIcon_01.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(2){
        background: url('../images/catIcon_02.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(3){
        background: url('../images/catIcon_03.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(4){
        background: url('../images/catIcon_04.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(5){
        background: url('../images/catIcon_05.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(6){
        background: url('../images/catIcon_06.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(7){
        background: url('../images/catIcon_07.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(8){
        background: url('../images/catIcon_08.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(9){
        background: url('../images/catIcon_09.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:nth-of-type(10){
        background: url('../images/catIcon_10.png') no-repeat left;
        background-size: 100px;
    }
    .applyNotice ul li:last-of-type{
        background: url('../images/catIcon_11.png') no-repeat left;
        background-size: 100px;
        margin-bottom: 60px;
    }
    .applyNotice ul li p{
        border: 1px solid #222222; display: inline-block;
        border-radius: 20px; padding: 20px; height: 120px;
        margin-bottom: 40px; vertical-align: middle;
    }
    .applyNotice > a{
        text-decoration: none; color: #222222;
        font-size: 16px; display: inline-block; line-height: 50px;
        background: url('../images/btn_bg.png') no-repeat center top;
        background-size: cover;
    }
    .applyNotice > a:first-of-type{
        margin-left: 38%;
    }
    .applyNotice > a:last-of-type{
        margin-left: 10%; width: 10%; text-align: center;
    }
    /* applyNotice Fin */

    .login,
    .membership{
        width: 50.52%; margin: 0 auto;
    }
    .login h2{
        margin-bottom: 60px;
    }
    .login ul{
        text-align: center;
    }
    .login ul li{
        display: inline-block; cursor: pointer; color: #222222;
        font-size: 24px; line-height: 40px;
        padding-left: 5.21%; margin-bottom: 60px;
    }
    .login ul li:last-of-type{
        margin-left: 8.33%;
    }
    .login ul li.active{
        background: url('../images/logo_mini02.png') no-repeat left;
        background-size: 40px;
    }
    .login > div form fieldset > input{
        padding: 25px 4.69%; display: block;
        border: 1px solid #8b8b8b; border-radius: 10px;
        font-size: 16px; width: 50%; margin: 0 auto;
    }
    .login > div form fieldset > input:first-child{
        margin-bottom: 40px;
    }
    .login > div form fieldset > input:nth-child(2){
        margin-bottom: 60px;
    }
    .login > div form fieldset div{
        width: 51.04%; margin: 0 auto;
        text-align: center;
    }
    .login > div form fieldset div input[type='submit'],
    .login > div form fieldset div a{
        background: url('../images/btn_bg.png') no-repeat center;
        background-size: cover; color: #222222;
        font-size: 20px; line-height: 50px;
    }
    .login > div form fieldset div input[type='submit']{
        border: none; cursor: pointer;
        display: inline-block;
        background-size: 100%;
    }
    .login > div form fieldset div a{
        text-decoration: none;
    }
    .login > div form fieldset div a:last-of-type{
        margin-left: 16.32%;
    }
    .login > div{
        display: none;
    }
    .login div.active{
        display: block;
    }
    /* login FIn */

    .membership form fieldset legend{
        display: none;
    }
    .membership form fieldset{
        width: 60%; margin: 0 auto;
    }
    .membership form fieldset ul li{
        margin-bottom: 20px;
    }
    .membership form fieldset ul li::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .membership form fieldset ul li label{
        font-size: 20px; color: #343333;
        float: left; padding-top: 10px;
    }
    .membership form fieldset ul li input{
        display: inline-block;
    }
    .membership form fieldset ul li:first-of-type input{
        margin-left: 65px;
    }
    .membership form fieldset ul li:nth-of-type(2) input{
        margin-left: 50px;
    }
    .membership form fieldset ul li:nth-of-type(2) input[type='button']{
        width: 15%; margin-left: 20px;
        border: none; background: none;
    }
    .membership form fieldset ul li:nth-of-type(3) input{
        margin-left: 35px;
    }
    .membership form fieldset ul li:nth-of-type(5) input{
        margin-left: 55px;
    }
    .membership form fieldset ul li:last-of-type{
        margin-bottom: 40px;
    }
    .membership form fieldset ul li:last-of-type label{
        font-size: 16px;
    }
    .membership form fieldset ul li:last-of-type input{
        width: 3%; margin-left: 20px;
    }
    .membership form fieldset ul li:last-of-type a{
        color: #8b8b8b; margin-left: 50px;
    }
    .membership form fieldset ul li input{
        font-size: 16px; border: 1px solid #343434;
        border-radius: 20px; padding: 5px 10px;
        width: 300px; height: 30px;
    }
    .membership form fieldset > input[type='button']{
        border: none; background: url('../images/btn_bg.png') no-repeat center;
        background-size: cover;
        font-size: 30px; color: #222222;
        display: block; margin: 0 auto 100px; cursor: pointer;
    }
    /* membership Fin */

    .cart ul li span{
        display: inline-block; text-align: center;
    }
    .cart ul li:first-of-type{
        padding: 30px; background-color: #f8f3ed;
        font-size: 20px; color: #222222;
    }
    .cart ul li span:nth-child(2){
        width: 46.09%;
    }
    .cart ul li span:nth-child(3){
        width: 10.16%;
    }
    .cart ul li span:nth-child(4){
        width: 8.38%;
    }
    .cart ul li span:nth-child(5){
        width: 13.72%;
    }
    .cart ul li span:last-child{
        width: 16.41%;
    }
    .cart ul li:last-of-type{
        padding: 20px 30px;
    }
    .cart ul li:nth-of-type(2) span:nth-child(2){
        background: url('../images/food4_1.png') no-repeat left;
        background-size: 25.42% 105px;
        line-height: 105px;
        font-size: 16px;
    }
    .cart ul li:nth-of-type(2) span:nth-of-type(3){
        font-size: 20px;
    }
    .cart ul li:nth-of-type(2) span input[type='text']{
        border: none; padding-left: 30px;
        font-size: 20px;
    }
    .cart ul li:nth-of-type(2) span:last-of-type{
        vertical-align: middle;
    }
    .cart ul li:nth-of-type(2) span:last-of-type input{
        display: block; margin: 0 auto;
        border: 1px solid #222222;
        width: 120px; height: 30px; cursor: pointer;
    }
    .cart ul li:nth-of-type(2) span input[type='button']{
        background-color: #343333; color: #fff;
        margin-bottom: 20px;
    }
    .cart ul li:nth-of-type(2) span input[type='reset']{
        background-color: #fff; color: #343333;
    }
    /* cart Fin */

    .deliver select{
        border: 1px solid #222222; padding: 10px 20px;
        border-radius: 20px; margin-left: 88.28%;
    }
    .deliver ul{
        padding-top: 20px;
    }
    .deliver ul li{
        padding: 40px; color: #343333;
    }
    .deliver ul li:first-of-type{
        font-size: 20px; background-color: #f8f3ed;
    }
    .deliver ul li:nth-of-type(2){
        border-bottom: 2px dotted #222222;
    }
    .deliver ul li:not(:first-of-type){
        font-size: 16px;
    }
    .deliver ul li span{
        display: inline-block; text-align: center;
    }
    .deliver ul li span:first-child{
        width: 14.06%;
    }
    .deliver ul li span:nth-child(2){
        width: 17.97%;
    }
    .deliver ul li span:nth-child(3){
        width: 38%;
    }
    .deliver ul li span:nth-child(4),
    .deliver ul li span:last-child{
        width: 13.67%;
    }
    .deliver ul li:nth-of-type(2) span:nth-of-type(3){
        background: url('../images/memo5_1.jpg') no-repeat left;
        background-size: 70px;
        line-height: 70px;
    }
    .deliver ul li:last-of-type span:nth-of-type(3){
        background: url('../images/food3_1.jpg') no-repeat left;
        background-size: 70px;
        line-height: 70px;
    }
    /* deliver Fin */
}